$header-color: #EBF5EE;
$black-color: #000;

@mixin border($px) {
  border: $px solid $black-color;
}
@mixin grid($num) {
  grid-template-columns: repeat($num, 1fr);
}

html {
  background-color: #37515C;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  background-color: $header-color;
  display: flex;
  height: auto;
  @include border(2px);
  justify-content: space-between;
  width: 100%;
}

/* *** iPhone 5/SE *** */
@media screen and (min-width: 320px) {
  .navButton {
    background-color: $header-color;
    border-left: 1px solid $black-color;
    border-right: 1px solid $black-color;
    font-size: 130%;
    margin: 1%;
  }

  h1 {
    border-right: 2px solid $black-color;
    font-size: 255%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    width: 30%;
  }

  .user-info {
    font-size: 180%;
    margin: auto;
    text-align: center;
    width: 40%
  }

  .search-bar {
    display: flex;
    height: 100%;
    margin: 10px 0px 10px 0px;
    width: 30%;
  }

  .search-button {
    background-color: $header-color;
    @include border(1px);
    height: 58px;
    margin-top: 3px;
    width: 20%;
  }

  .card-button:hover,
  .navButton:hover,
  .search-button:hover,
  .search-image:hover {
    background-color: #cff2da;
  }

  .search-image:active,
  .card-button:active,
  .navButton:active,
  .search-button:active {
    background-color: #C3C2C6;
  }

  .search-input {
    font-size: 100%;
    height: 7vh;
    @include border(1px);
    margin: 3px 7px 0px 0px;
    padding-left: 10px;
    width: 90%;
  }

  .card-button {
    @include border(1px);
    height: 27px;
    margin: 3px;
  }

  .add-button {
    background-color: $header-color;
    display: flex;
    width: 12%;
  }

  .add {
    height: 21px;
    width: 100%;
  }

  .favorite {
    background-color: $header-color;
    background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 13%;
  }

  .all-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    cursor: pointer;
  }

  .card {
    background-color: #D7F2FE;
    @include border(3px);
    margin-top: 3rem;
    padding-bottom: 5rem;
    width: 37rem;
  }

  .card-header {
    background-color: $header-color;
    border-bottom: 1px solid $black-color;
    display: flex;
    justify-content: space-between;
  }

  .all {
    grid-gap: 0px;
    @include grid(1)
  }

  .all-recipe-info,
  ol {
    color: $header-color;
    font-size: 220%;
    width: 100%;
  }

  h3 {
    color: $header-color;
    font-size: 250%;
  }

  .recipe-name {
    display: block;
    font-size: 25px;
    text-align: center;
  }

  .card-picture:hover {
    opacity: 0.7;
  }

  .card-picture:active {
    @include border(2px);
  }

  .card-picture {
    @include border(1px);
    margin: 10px 3% 8px 2.6%;
  }

  main {
    background-color: #37515C;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .favorite-active {
    background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
    background-repeat: no-repeat;
  }
}

/* *** iPad *** */
@media screen and (min-device-width: 768px) {
  .all-cards {
    display: grid;
    grid-gap: 30px;
    @include grid(2);
    justify-items: center;
    padding: 30px 0 30px 30px;
  }

  .card {
    margin-top: 0;
    width: 20rem;
    height: 22rem;
    padding-bottom: 0;
  }

  .card-picture {
    @include border(1px);
    height: 200px;
    margin: 10px 3% 8px 2.6%;
  }

  .all {
    grid-gap: 0px;
    @include grid(1)
  }
}

/* *** Medium Desktop Window*** */
@media screen and (min-device-width: 850px) {
  .all-cards {
    @include grid(3);
    width: 95.5vw;
  }

  .all {
    grid-gap: 0px;
    @include grid(1)
  }
}

/* *** Full Desktop Window*** */
@media screen and (min-width: 1440px) {
  .all-cards {
    @include grid(4);
    padding: 12px;
    justify-items: center;
  }

  .all {
    grid-gap: 0px;
    @include grid(1)
  }
}

/* *** User Form *** */
.user-form {
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-top: 5rem;
  @include border(1px);
  font-family: 'Open Sans', sans-serif;
}

label {
  font-size: 25px;
  margin: 0 30px;
}

input {
  height: 2rem;
  font-size: 16px;
  margin: 0 30px;
}

.form-name {
  margin-top: 30px
}

.instructions {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}